.sidenav{
  position:fixed;
  left:0;
  top:0;
  width:15%;
  height:100%;
  background: $primary;

  // SIDE NAV HEADER START
  .sidenav-header{
    width:100%;
    float: left;
    display: block;
    height: 60px;
    background: #fff;
  }
  //SIDE NAV HEADER END

  .sidenav-body{
    float:left;
    display: block;
    width:100%;
  }

}



/***********************************************
SIDE NAV LIST
************************************************/
.sidenav-nav{
  float: left;
  display: block;
  width:100%;
  padding:0;
  margin:0;

  li{
    list-style: none;

    a{
      display: block;
      width:100%;
      padding-left:15px;
      padding-right:15px;
      height:50px;
      text-decoration: none;
      color:#fff;
      line-height: 50px;

      i.material-icons:first-child{
        float:left;
        line-height: 50px;
        margin-right:8px;
      }
    }

    &.sidenav-dropdown{
      float: left;
      display: block;
      width:100%;

      a{

        i.material-icons:last-child{
          float:right;
          line-height: 50px;
        }
      }

      .sidenav-dropdown-menu{
        float:left;
        display: block;
        width:100%;
        background: darken($primary, 10%);

        ul{
          float:left;
          display:block;
          width:100%;
          margin:0;
          padding:0;

          li{
            list-style: none;

            a{
              display: block;
              float: left;
              width:100%;
              height: 40px;
              font-size: 13px;
              line-height:40px;
            }
          }
        }
      }

    }
  }
}
