<!-- SIDENAV START -->
<div class="sidenav">

  <!-- SIDENAV HEADER START -->
  <div class="sidenav-header">

  </div>
  <!-- SIDENAV HEADER END -->

  <!-- SIDENAV BODY START -->
  <div class="sidenav-body">

    <ul class=sidenav-nav>
      <li><a href=""><i class="material-icons">dashboard</i> Dashboard</a></li>
      <li class="sidenav-dropdown">
        <div class="sidenav-toggel">
          <a href="">
            <i class="material-icons">storage</i>
            Task
            <i class="material-icons">keyboard_arrow_down</i>
          </a>
        </div>
        <div class="sidenav-dropdown-menu">
          <ul>
            <li><a href="">Task Details</a></li>
            <li><a href="">Add New Task</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
  <!-- SIDENAV BODY END -->

</div>
<!-- SIDENAV END -->
