<!-- SIDENAV START -->
<div class="side-nav">

  <!-- SIDENAV HEADER START -->
  <div class="side-nav-header">

  </div>
  <!-- SIDENAV HEADER END -->

  <!-- SIDENAV BODY START -->
  <div class="side-nav-body">
    <ul class=side-nav-list>
      <li><a href="">Dashboard</a></li>
      <li class=side-nav-list-sub>
        <div class="">
          <a href="">Task</a>
        </div>
        <div class="side-nav-child">
          <ul>
            <li><a href="">Task Details</a></li>
            <li><a href="">Add New Task</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- SIDENAV BODY END -->

</div>
<!-- SIDENAV END -->
